

body {
  background-color: #F3F5FA !important;
}

.row {
  width: 100%;
  margin-left: unset;
}

.modal-content {
  border-top: 6px solid #2DC09D;
  color: #010C3B;
  font-family: Gilroy-Semibold;
}

.btn-success {
  background-color: #2DC09D;
  border-color: #2DC09D;
}

.btn-danger {
  background-color: #DC3646;
  border-color: #DC3646;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #2DC09D;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(42, 192, 157, 0.25);
}

.fab{
	width: 64px;
  height: 64px;
  background-color: #425195;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  font-size: 50px;
  color: white;
  text-align: center;
  position: fixed;
  line-height: 1px;
  right: 26px;
  bottom: 24px;
}

.fab span {
  color: #ffffff;
}

.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}